<div class="section-container container">
    <div class="row content-container">
        <div class="left-section col-md-6">
            <div class="intro-container">
                <h2 class="intro-header">{{ site.data.service.intro-header-text }} <span class="intro-colored-text">{{ site.data.service.intro-colored-text }}</span></h2>
                <p class="intro-description">{{ site.data.service.intro-header-subtext }}</p>
                <div class="button-container">
                    <div class="button-wrapper">
                        <a href="{{ site.data.service.intro-button-text1 }}" class="intro-button demo-button">{{ site.data.service.intro-button-text1 }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section col-md-6">
            <div class="intro-image-container">
                <img src="{{ site.data.service.intro-image }}" class="img-fluid d-block" />
            </div>
        </div>
    </div>
</div>