<div class="section-container container">
    <div class="header-container">
        <h2 class="header text-center">{{ site.data.service.integration-header }}</h2>
        <p class="header-description text-center">{{ site.data.service.integration-description }}</p>
    </div>

    <div class="integration-list-container pt-5">
        <div class="row">
            {% for item in site.data.service.integration-list %}
            <div class="col-md-4 integration-item ">
                <img src="{{ item.icon }}" class="integration-icon d-block"/>
                <h4 class="integration-title pt-3">{{ item.title }}</h4>
                <p class="integration-description">{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>