<div class="blog-list-container blog-specific pt-5 pb-5">
<!-- This loops through the paginated pages -->
    <div class="blog-item">
        <div class="blog-content">
            <div class="blog-header">
                <h1 class="blog-title">{{ page.title }}</h1>
                <span class="date mb-3 d-block text-center">Posted on {{ page.date | date: "%B %-d %Y" }} by {{ page.author }}</span>
            </div>
            
            <div class="content-container">
                {{ content }}
            </div>
        </div>
    </div>
</div>