<div class="blog-list-container pt-5 pb-5">
<!-- This loops through the paginated posts -->
    <div class="row">
        {% for post in paginator.posts %}
        <div class="blog-item col-md-4">
            <div class="card shadow-sm">
                <img src="{{ post.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between blog-date">
                        <span><i class="fa-solid fa-user pe-1"></i>{{ post.author }}</span>
                        <span><i class="fa-solid fa-calendar pe-1"></i>{{ post.date | date: "%d %b, %Y" }}</span>
                    </div>
                    <a href="{{ post.url }}" class="card-link">
                        <h5 class="card-title pt-2">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">
                        {{ post.content | truncate: 130}}
                    </p>
                    <a href="{{ post.url }}" class="card-link d-inline-block pt-4">Read More <i class="fa-solid fa-angle-right ps-1"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination justify-content-center pt-3 pb-5">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="side-link"><i class="fa-solid fa-angle-left pagination-icon"></i></a>
    {% else %}
    <span class="side-text"><i class="fa-solid fa-angle-left pagination-icon"></i></span>
    {% endif %}

    <div class="pagination-item d-flex flex-row ">
        {% for page in (1..paginator.total_pages) %}
        <div class="pagination-number">
        {% if page == paginator.page %}
            <span class="page-link active">{{ page }}</span>
            {% elsif page == 1 %}
            <a href="{{ '/blogs/' | relative_url }}" class="page-link">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="side-link"><i class="fa-solid fa-angle-right pagination-icon"></i></a>
    {% else %}
    <span class="side-text"><i class="fa-solid fa-angle-right pagination-icon"></i></span>
    {% endif %}
</div>
{% endif %}