<div class="blog-list-container pt-5 pb-5">
<!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="blog-item">
        <div class="blog-content mb-5">
            <span class="blog-date d-block">{{ post.date | date: "%-d %B %Y" }}</span>
            <a href="{{ post.url }}" class="d-inline-block text-decoration-none blog-title-link">
                <h2 class="blog-title">{{ post.title }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="side-link">&laquo; Prev</a>
    {% else %}
    <span class="side-text">&laquo; Prev</span>
    {% endif %}

    <div class="pagination-item d-flex flex-row ">
        {% for page in (1..paginator.total_pages) %}
        <div class="pagination-number">
        {% if page == paginator.page %}
            <em>{{ page }}</em>
            {% elsif page == 1 %}
            <a href="{{ '/blogs/' | relative_url }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="side-link">Next &raquo;</a>
    {% else %}
    <span class="side-text">Next &raquo;</span>
    {% endif %}
</div>
{% endif %}