<div class="section-container container">
    <div class="row content-container">
        <div class="left-section col-md-6">
            <div class="intro-container">
                <h1 class="intro-header">{{ site.data.pricing.pricing-intro-header-text }} <span class="intro-colored-text">{{ site.data.pricing.pricing-intro-colored-text }}</span></h1>
                <p class="intro-description">{{ site.data.pricing.pricing-intro-header-subtext | newline_to_br }}</p>
                <div class="button-container">
                    <div class="button-wrapper">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5rUkIAl9VITNJnhb_w039tlQi_izAsm17MMDOVCAfWKvMRQ/viewform" class="intro-button demo-button">{{ site.data.pricing.pricing-intro-button-text1 }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section col-md-6">
            <div class="intro-image-container">
                <img src="{{ site.data.pricing.pricing-intro-image }}" class="img-fluid d-block" />
            </div>
        </div>
    </div>
</div>