<footer>
    <div class="social-media-container container mt-5 mb-3">
        {% for social in site.data.site.footer-social-media %}
        <div class="social-item">
            <a href="{{ social.link }}" class="social-link" target="_blank">
                <span class="fa-brands {{ social.icon }} social-icon"></span>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="border-top container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1 footer-item">
                <span class="d-block copyright">{{ site.data.site.footer-text }}</span>
            </div>

            <div class="col-12 col-md-6 text-center text-md-end order-1 order-md-2 footer-item policy">
                <a href="{{ site.data.site.footer-policy-link }}" class="pe-3 text-decoration-none footer-link">{{ site.data.site.footer-policy }}</a>
                <a href="{{ site.data.site.footer-tos-link }}" class="text-decoration-none footer-link">{{ site.data.site.footer-tos }}</a>
            </div>
        </div>
    </div>
</footer>