<div class="section-container container mb-5">
    <div class="header-container">
        <h2 class="header text-center">{{ site.data.contact-us.contact-form-header }}</h2> 
        <p class="header-description text-center">{{ site.data.contact-us.contact-form-description }}</p>
    </div>

    <div class="form-container col-8 offset-2">
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control me-4" placeholder="Full Name" aria-label="Full Name">
                <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
            </div>

            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Inquiry" rows="4"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>