<div class="section-container container">
    <div class="row align-items-center content-container text-center text-sm-start">
        <div class="col-md-6 left-section">
            <h2 class="header support-title pe-3">{{ site.data.employee-analytics.employee-support-header }}</h2>
            <p class="header-description support-description pe-3">{{ site.data.employee-analytics.employee-support-description }}</p>
        </div>
        <div class="col-md-6 right-section">
            <img src="{{ site.data.employee-analytics.employee-support-image }}" alt="{{ site.data.employee-analytics.employee-support-image-alt }}" class="d-block img-fluid support-image mx-auto" />
        </div>
    </div>
</div>