.banner-container{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .intro-container{
        padding-top: 200px;
        padding-bottom: 200px;

        .intro-header{
            color: #ffffff;
            font-size: 60px;
            font-weight: 700;
            line-height: 90px;
            letter-spacing: 0.02em;
            text-align: left;
        }

        .intro-description{
            color: #ffffff;
            max-width: 58%;
            min-width: 58%;
            letter-spacing: 2%;
            font-family: Lato;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.02em;
            text-align: left;

        }
    }
}

@media (min-width: 1440px){
    #contact{
        min-height: 720px;
    }
}

@media (max-width: 1440px){
    #contact{
        min-height: 540px;
    }
}

@media (max-width: 768px){
    .header-container{
        .header{
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 15px;
        }
    }

    .form-container{
        margin-left: 0 !important;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;

        .form-content{
            margin-bottom: 0 !important;

            .form-item{
                margin-right: 0 !important;
                max-width: 100%;
                width: 100%;
                border-radius: 0.375rem;
                margin-bottom: 15px;
            }
        }
    }

    #contact{
        min-height: calc(100vh - 220px);
    }
}