$blue: #0984e3;
$blueHover: #0672c5;

body{
    font-family: "Lato", Sans-serif;
    color: #333333;
}

.container{
    max-width: 1140px;
}

.primary-bg{
    background: $blue;
}

.primary-border{
    border-color: $blue;
}

.border-primary{
    border-color: $blue !important;
}

.text-bg-primary{
    background-color: $blue !important;
}

.btn-primary{
    background-color: $blue !important;

    &:hover{
        background-color: $blueHover !important;
    }
}

.no-bg{
    background: none !important;
}

.btn-outline-primary{
    color: $blue;
    border-color: $blue;

    &:hover{
        background-color: $blue;
        border-color: $blue;
    }
}

.section-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-container{
    .header{
        font-family: "Poppins", Sans-serif;
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .header-description{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 0;
        max-width: 85%;
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


.navbar{
    border-bottom: 1px solid #dcdcdc;

    .navbar-nav{
        .nav-item{
            &.dropdown{
                .menu-container{
                    padding: 10px;
                    text-decoration: none;
                    margin: 15px;
                    border-radius: 8px;
                    width: 450px;

                    &:hover{
                        background-color: #eff8ff;
                    }

                    .menu-title{
                        padding-top: 8px;                            
                        font-size: 16px;
                        font-weight: 600;                  
                        font-family: "Poppins", Sans-serif;
                        line-height: 24px;
                        margin-bottom: 5px;
                        color: #333333;
                    }

                    .menu-desc{
                        font-size: 16px;
                        line-height: 1.8;
                        color: #555555;
                    }
                }
                
            }

            .nav-link{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

p{
    color: #555555;
}

footer{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    .social-media-container{
        display: flex;
        text-align: center;
        justify-content: center;

        .social-item{
            margin-left: 25px;
            margin-right: 25px;

            .social-link{
                text-decoration: none;
                color: #494949;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;

                &:hover{
                    color: #000;
                }

                .social-icon{
                    font-size: 24px;
                }
            }
        }
    }
    

    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-link{
        color: #000000;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -mos-transition: all .2s linear;
        -o-transition: all .2s linear;
        -ms-transition: all .2s linear;


        &:hover{
            color: $blue;
        }
    }
}

.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

.divider{
    position: relative;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.header-container{
    padding-bottom: 50px;

    .header{
        margin-bottom: 0;
    }
}

@media (max-width: 1366px){
    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .menu-container{
                        width: 400px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .content-container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-container{
        .header{
            font-size: 48px;
        }
    }

    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .menu-container{
                        width: 350px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px){
    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .dropdown-menu{
                        border: none;
                    }

                     .menu-container{
                        width: 100%;
                        max-width: 450px;
                    }
                }
            }
        }
    }

    .navbar-toggler{
        border: none;

        &:focus{
            border: none;
            outline: transparent;
            box-shadow: none;
        }
    }

    .navbar-toggler span {
        display: block;
        background-color: #000;
        height: 3px;
        width: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        left: 0;
        opacity: 1;
        transition: all 0.35s ease-out;
        transform-origin: center left;
    }

    .navbar-toggler span:nth-child(1) {
        transform: translate(0%, 0%) rotate(0deg);
    }

    .navbar-toggler span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler span:nth-child(3) {
        transform: translate(0%, 0%) rotate(0deg);
    }

    .navbar-toggler span:nth-child(1) {
        margin-top: 0.3em;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        transform: translate(15%, -33%) rotate(45deg);
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        transform: translate(15%, 33%) rotate(-45deg);
    }
}

@media (max-width: 768px){
    p{
        font-size: 16px;
    }
    .section-container{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header-container{
        .header{
            font-size: 34px;
        }
        
        .header-description{
            font-size: 16px;
        }
    }
}

