body{
    font-family: "Lato", Sans-serif;
    color: #333333;
}

.container{
    max-width: 1140px;
}

.navbar{
    border-bottom: 1px solid #dcdcdc;

    .navbar-nav{
        .nav-item{
            &.dropdown{
                .menu-container{
                    padding: 10px;
                    text-decoration: none;
                    margin: 15px;
                    border-radius: 8px;
                    width: 450px;

                    &:hover{
                        background-color: #eff8ff;
                    }

                    .menu-title{
                        padding-top: 8px;                            
                        font-size: 16px;
                        font-weight: 600;                  
                        font-family: "Poppins", Sans-serif;
                        line-height: 24px;
                        margin-bottom: 5px;
                        color: #333333;
                    }

                    .menu-desc{
                        font-size: 16px;
                        line-height: 1.8;
                        color: #666666;
                    }
                }
                
            }

            .nav-link{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

p{
    color: #666666;
}

footer{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    

    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-link{
        color: #000000;
         transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -mos-transition: all .2s linear;
        -o-transition: all .2s linear;
        -ms-transition: all .2s linear;


        &:hover{
            color: #0984e3;
        }
    }
}

.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

.divider{
    position: relative;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.header-container{
    padding-bottom: 50px;

    .header{
        margin-bottom: 0;
    }
}

@media (max-width: 1366px){
    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .menu-container{
                        width: 400px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .menu-container{
                        width: 350px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px){
    .navbar{
        .navbar-nav{
            .nav-item{
                &.dropdown{
                    .dropdown-menu{
                        border: none;
                    }

                     .menu-container{
                        width: 100%;
                        max-width: 450px;
                    }
                }
            }
        }
    }
}

