.section-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

#cover{
    position: relative;

    .content-container{
        grid-column-gap: 1rem;
        grid-row-gap: 4rem;
        align-items: center;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .left-section{
            .intro-container{
                .intro-header{
                    font-family: "Poppins", Sans-serif;
                    font-size: 62px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    
                    .intro-colored-text{
                        color: #0984e3;
                    }
                }

                .intro-description{
                    font-family: "Lato", Sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.8;
                }

                .button-container{
                    margin-top: 30px;

                    .button-wrapper{
                        grid-column-gap: 1rem;
                        grid-row-gap: 1rem;
                        align-items: center;
                        display: flex;
                        flex-flow: wrap;
                        justify-content: flex-start;

                        .intro-button{
                            background-color: #0984e3;
                            border-radius: .5rem;
                            color: #fff;
                            flex: none;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.5;
                            max-height: 3.75rem;
                            max-width: 11.875rem;
                            padding: 1rem 2.375rem;
                            text-align: center;
                            width: 100%;
                            text-decoration: none;
                             transition: all .2s linear;
                            -webkit-transition: all .2s linear;
                            -mos-transition: all .2s linear;
                            -o-transition: all .2s linear;
                            -ms-transition: all .2s linear;


                            &.trial-button{
                                background-color: transparent;
                                border: 1px solid #0984e3;
                                color: #0984e3;
                            }

                            &:hover{
                                background-color: #0672c5;

                                &.trial-button{
                                    background-color: #0672c5;
                                    border: 1px solid #0672c5;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}