#privacy{
    h3{
        font-size: 28px;
        font-weight: 600;
        line-height: 1.2;
        font-family: "Poppins", Sans-serif;
        margin-bottom: 15px;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 40px;
    }
}

.header-normal{
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.02em;
    margin-top: 80px;
    margin-bottom: 80px;
}