.section-divider{
    color: #043962;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    padding-top: 30px;
    padding-bottom: 30px;
    
    .header{
        font-family: "Poppins", Sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: .02em;
    }

    .header-description{ 
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 0;
        max-width: 85%;
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.content-container{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .content-header{
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
        font-family: "Poppins", Sans-serif;
    }
    
    .content-title{
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        // font-weight: 600;
        line-height: 1.2;
        font-family: "Poppins", Sans-serif;
        color: #0984e3;

        &.step{
            color: #0984e3;
            font-size: 16px;
            line-height: normal;
            margin-bottom: 0 !important;

        }
    }

    .content-description{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .content-sub{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 0;
    }
}

