---
layout: pages-layout/employee-analytics
permalink: /employee-analytics/
title: Employee Analytics
description: "Gain visibility into team activity, detect patterns, and uncover productivity insights with AI-powered employee analytics."
---

<section id="cover">
    {% include employee-analytics/cover.html %}
</section>
<section id="service">
    {% include employee-analytics/service.html %}
</section>
<section id="integration">
    {% include employee-analytics/integration.html %}
</section>
<section id="support">
    {% include employee-analytics/support.html %}
</section>

<section id="faq">
    {% include employee-analytics/faq.html %}
</section>

<section id="company">
    {% include employee-analytics/company.html %}
</section>