---
layout: pages-layout/faq
permalink: /faq/
---
<section id="general">
  <div class="section-container container">
    <div class="header-container">
      <h2 class="header text-center">{{ site.data.faq.faq-header }}</h2>
    </div>
    <div class="content-container">
      {% for item in site.data.faq.faq-list %}
      <div class="content-item{% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="features">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.faq.faq-feature-header }}</h4>
      {% for item in site.data.faq.faq-feature-list %}
      <div class="content-item {% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="security-privacy">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.faq.faq-security-header }}</h4>
      {% for item in site.data.faq.faq-security-list %}
      <div class="content-item {% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="setup-onboarding">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.faq.faq-onboarding-header }}</h4>
      {% for item in site.data.faq.faq-onboarding-list %}
      <div class="content-item {% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="pricing">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.faq.faq-pricing-header }}</h4>
      {% for item in site.data.faq.faq-pricing-list %}
      <div class="content-item {% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="support">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.faq.faq-support-header }}</h4>
      {% for item in site.data.faq.faq-support-list %}
      <div class="content-item {% if forloop.last %}mt-4 mb-0{% else %}mt-4 mb-5{% endif %}">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
