---
layout: pages-layout/product
permalink: /how-it-works/
title: How it works
description:
---

<section id="how-it-works">
  <div class="section-container container">
    <div class="header-container">
      <h1 class="header text-center mb-3">{{ site.data.how-it-works.how-it-work-header }}</h1>
      <p class="header-description text-center">{{ site.data.how-it-works.how-it-work-description }}</p>
    </div>

    <div class="content-container">
      {% for step in site.data.how-it-works.how-it-work-list %}
      <div class="content-item mt-3 mb-3">
        <h4 class="content-title mb-0 step">{{ step.title }}</h4>
        <p class="content-description">{{ step.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="our-services">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.how-it-works.how-it-work-service-header }}</h4>
        {% for item in site.data.how-it-works.how-it-work-service-list %}
        <div class="content-item mt-4 mb-5">
          <h4 class="content-title mb-1">{{ item.title }}</h4>
          <p class="content-description">{{ item.description }}</p>
        </div>
        {% endfor %}
      <p class="content-sub">{{ site.data.how-it-works.how-it-work-service-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<!--<section id="integration">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.how-it-works.how-it-work-integration-header }}</h4>
      <p class="content-description">{{ site.data.how-it-works.how-it-work-integration-description }}</p>
        <ul>
          {% for item in site.data.how-it-works.how-it-work-integration-list %}
          <li class="content-item mt-4 mb-4">
            <h4 class="content-description mb-1">{{ item.title }}</h4>
          </li>
          {% endfor %}
        </ul>

      <p class="content-sub">{{ site.data.how-it-works.how-it-work-integration-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">-->

<section id="security-and-privacy">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.how-it-works.how-it-work-security-header }}</h4>
      <p class="content-description">{{ site.data.how-it-works.how-it-work-security-description }}</p>
        {% for item in site.data.how-it-works.how-it-work-security-list %}
        <div class="content-item mt-4 mb-5">
          <h4 class="content-title mb-1">{{ item.title }}</h4>
          <p class="content-description">{{ item.description }}</p>
        </div>
        {% endfor %}

      <p class="content-sub">{{ site.data.how-it-works.how-it-work-security-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="support">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.how-it-works.how-it-work-support-header }}</h4>
      <p class="content-description">{{ site.data.how-it-works.how-it-work-support-description }}</p>
        {% for item in site.data.how-it-works.how-it-work-support-list %}
        <div class="content-item mt-4 mb-5">
          <h4 class="content-title mb-1">{{ item.title }}</h4>
          <p class="content-description">{{ item.description }}</p>
        </div>
        {% endfor %}

      <p class="content-sub mb-5">{{ site.data.how-it-works.how-it-work-support-sub }}</p>
    </div>
  </div>
</section>