---
layout: pages-layout/security
permalink: /security/
title: Security & Privacy
description: "Discover how we ensure the highest level of security to protect your data and privacy. Learn about our security measures and best practices."
---
<section id="data-security">
  <div class="section-container container">
    <div class="header-container">
      <h1 class="header text-center mb-3">{{ site.data.security.data-security-header }}</h1>
      <p class="header-description text-center">{{ site.data.security.data-security-description }}</p>
    </div>

    <div class="content-container">
      {% for item in site.data.security.data-security-list %}
      <div class="content-item mt-4 mb-5">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
       <p class="content-sub">{{ site.data.security.data-security-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="data-collection">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.security.data-security-collection-header }}</h4>
      <p class="content-description">{{ site.data.security.data-security-collection-description }}</p>
      {% for item in site.data.security.data-security-collection-list %}
      <div class="content-item mt-4 mb-5">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}
      <p class="content-sub">{{ site.data.security.data-security-collection-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">
<section id="privacy-transparency">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.security.data-security-privacy-header }}</h4>
      <p class="content-description">{{ site.data.security.data-security-privacy-description }}</p>
      {% for item in site.data.security.data-security-privacy-list %}
      <div class="content-item mt-4 mb-5">
        <h4 class="content-title mb-1">{{ item.title }}</h4>
        <p class="content-description">{{ item.description }}</p>
      </div>
      {% endfor %}  
      <p class="content-sub">{{ site.data.security.data-security-privacy-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="compliance">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.security.data-security-compliance-header }}</h4>
      <p class="content-description">{{ site.data.security.data-security-compliance-description }}</p>
        {% for item in site.data.security.data-security-compliance-list %}
        <div class="content-item mt-4 mb-5">
          <h4 class="content-title mb-1">{{ item.title }}</h4>
          <p class="content-description">{{ item.description }}</p>
        </div>
        {% endfor %}

      <p class="content-sub">{{ site.data.security.data-security-compliance-sub }}</p>
    </div>
  </div>
</section>

<hr class="section-divider mt-3 mb-3">

<section id="data-retention">
  <div class="section-container container">
    <div class="content-container">
      <h4 class="content-header mb-3">{{ site.data.security.data-security-retention-header }}</h4>
      <p class="content-description">{{ site.data.security.data-security-retention-description }}</p>
        {% for item in site.data.security.data-security-retention-list %}
        <div class="content-item mt-4 mb-5">
          <h4 class="content-title mb-1">{{ item.title }}</h4>
          <p class="content-description">{{ item.description }}</p>
        </div>
        {% endfor %}

      <p class="content-sub mb-5">{{ site.data.security.data-security-retention-sub }}</p>
    </div>
  </div>
</section>