<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
    {% include head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SKZ39ZN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include navbar.html %}
{{ content }}
{% include footer.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

{{ layout.javascript }}

</body>

</html>
