<div class="section-container container">
    <div class="row content-container">
        <div class="left-section col-lg-6 col-12">
            <div class="intro-container text-lg-start text-center">
                <h2 class="intro-header">{{ site.data.site.home-intro-header-text }} <span class="intro-colored-text">{{ site.data.site.home-intro-colored-text }}</span></h2>
                <p class="intro-description">{{ site.data.site.home-intro-header-subtext }}</p>
                <div class="button-container mb-5 mb-lg-0">
                    <div class="button-wrapper flex-sm-nowrap justify-content-center justify-content-lg-start">
                        <a href="{{ site.data.site.home-intro-button-link1 }}" class="intro-button demo-button">{{ site.data.site.home-intro-button-text1 }}</a>
                        <a href="{{ site.data.site.home-intro-button-href }}" class="intro-button demo-button">{{ site.data.site.home-intro-button-text2 }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section col-lg-6 col-12">
            <div id="video-poster-container" class="intro-image-container">
                <button class="play-button">
                    <img src="{{ site.data.site.home-intro-image }}" class="d-block img-fluid intro-image"/>
                    <img src="/assets/image/video-button.png" class="button-icon"/>
                </button>
            </div>
            <div id="video-player-container" class="video-player-container">
                <video id="video-player" class="video-player" playsinline controls width="100%"> <!--poster="/assets/image/home-video-banner.png"-->>
                    <source src="/assets/video/service/Telemore_Update.webm" type="video/webm">
                    <!-- <source src="/assets/video/landing_page_sample.webm" type="video/webm"> -->
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>