<div class="section-container container">
    <div class="header-container">
        <h2 class="header text-center">{{ site.data.site.service-header }}</h2>
        <p class="header-description text-center">{{ site.data.site.service-description }}</p>
    </div>

    <div class="container-list">
        {% for service in site.data.site.service-list %}
        <div class="row content-container">
            <div class="col-md-6 left-section {% cycle 'order-1', 'order-2', 'order-1' %}">
                <div class="service-image-container">
                    <img src="{{ service.image }}" class="service-image img-fluid d-block"/>
                </div>
            </div>
            <div class="col-md-6 right-section {% cycle 'order-2', 'order-1', 'order-1' %}">
                <div class="service-content-container">
                    <span class="service-subheader">{{ service.subheader }}</span>
                    <h3 class="service-title">{{ service.title }}</h3>
                    <p class="service-description">{{ service.description }}</p>
                </div>
            </div>        
        </div>
        {% endfor %}
    </div>
</div>