<div class="section-container">
    <div class="header-container">
        <div class="container">
            <h4 class="header text-center mb-3">{{ site.data.site.home-service-header }}</h4>
            <p class="header-description text-center">{{ site.data.site.home-service-description }}</p>
        </div>
    </div>
    
    <div class="container-list">
    {% for service in site.data.site.home-service-list %}
        <div class="content-wrapper item-{{ forloop.index }}">
            <div class="container">
                <div class="row content-container">
                    <div class="col-md-6 left-section {% cycle 'order-1 order-md-1', 'order-1 order-md-2', 'order-1 order-md-1' %}">
                        <div class="service-image-container" data-aos="fade-up" data-aos-delay="100">
                            {% if service.video != null %}
                            <video class="service-video img-fluid d-block mx-auto" autoplay muted loop playsinline>
                                <source src="{{ service.video }}" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            {% else %}
                            <img src="{{ service.image }}" class="service-image img-fluid d-block mx-auto" />
                            {% endif %}                        
                        </div>
                    </div>
                    <div class="col-md-6 right-section {% cycle 'order-2', 'order-1', 'order-1' %}">
                        <div class="service-content-container">
                            <span class="service-subheader" data-aos="fade" data-aos-delay="200" data-aos-duration="200">{{ service.subheader }}</span>
                            <h3 class="service-title" data-aos="fade" data-aos-delay="300" data-aos-duration="300">{{ service.title }}</h3>
                            <p class="service-description" data-aos="fade" data-aos-delay="400" data-aos-duration="400">{{ service.description }}</p>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>